#!name=GitHub 全加速（jsDelivr）
#!desc=raw / release / archive / gist 全部加速到 jsDelivr

[rewrite_local]

# ===== 全部 GitHub 链接加速到 jsDelivr =====
^https:\/\/raw\.githubusercontent\.com\/([^/]+)\/([^/]+)\/([^/]+)\/(.*) https://cdn.jsdelivr.net/gh/$1/$2@$3/$4 302
^https:\/\/gist\.githubusercontent\.com\/(.+) https://cdn.jsdelivr.net/gh/$1@$2 302
^https:\/\/github\.com\/([^/]+)\/([^/]+)\/releases\/download\/([^/]+)\/(.*) https://cdn.jsdelivr.net/gh/$1/$2@$3/$4 302
^https:\/\/github\.com\/([^/]+)\/([^/]+)\/archive\/([^/]+)\.zip https://cdn.jsdelivr.net/gh/$1/$2@$3.zip 302

# ===== release / archive / gist（ghfast）=====
#^https?:\/\/(gist\.githubusercontent\.com|github\.com\/[^/]+\/[^/]+(\/releases\/download|\/archive)\/.+) https://ghfast.top/$1 302

[MITM]
hostname = %APPEND% raw.githubusercontent.com, gist.githubusercontent.com, github.com
