#!name=GitHub 加速
#!desc=自动使用 https://ghfast.top 加速(支持 raw, gist, archive, release 等各种链接)

[URL Rewrite]
#^(https?:\/\/(raw\.githubusercontent\.com|gist\.githubusercontent\.com|github\.com\/[^/]+\/[^/]+(\/releases\/download|\/archive))\/.+?)$ https://ghfast.top/$1 302


#^(https?:\/\/(raw\.githubusercontent\.com|gist\.githubusercontent\.com|github\.com\/[^/]+\/[^/]+(\/releases\/download|\/archive))\/.+?)$ https://hk.gh-proxy.org/$1 302

^(https?:\/\/(raw\.githubusercontent\.com|gist\.githubusercontent\.com|github\.com\/[^/]+\/[^/]+(\/releases\/download|\/archive))\/.+?)$ https://jiasu.dalxy.eu.org/?url=$1 302

#^(https?:\/\/(raw\.githubusercontent\.com|gist\.githubusercontent\.com)\/.+)$ https://hk.gh-proxy.com/$1 302

[MITM]
hostname = %APPEND% raw.githubusercontent.com, gist.githubusercontent.com

